*,
*::before
,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Martel Sans', sans-serif;
    src: url('./public/fonts/MartelSans-Regular.ttf');
}
@font-face {
    font-family: MartelSansBlack;
    src: url('./public/fonts/MartelSans-Black.ttf');
}

body{
    font-family: 'Martel Sans';
}


.space{
    display: inline-block;
    width:40px;
    /* background: blue; */
}

.dividend{
    color: green;
}

.receiver{
    color: red;
}

.ui{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.information{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 18px;
}

.information p{
    
    margin: 20px 0;
}

.information h1{
    font-size: 75px;
    font-weight: 100;
}

.author{
    display: flex;
}

.author p {
    margin: 0 10px;
}

.configuration form{
    padding: 20px 30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.configuration form button{
    display: block;
    height: 45px;
    width: 100px;

}

.mx{
    margin: 20px 10px;
    width: 50%;
}

.gx{
    margin: 20px 10px;
}

.tx{
    margin: 20px 10px;
    width: 50%;
}

.tx textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 10px;
    height: 100px;
    min-height: 50px;
    max-height: 300px;
}

.mx input{
    height: 45px;
    font-size: 15px;
    font-family: 'Martel Sans';
    width: 100%;
} 

.tx input{
    height: 45px;
    font-size: 15px;
    font-family: 'Martel Sans';
    width: 100%;
} 

.scrollable{
    overflow: hidden;
    border-radius:15px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.result{
    height: 600px;
    overflow-x: auto;
    white-space: nowrap;
    display:flex;
     
}

.divisor{
    padding: 2px 5px;
}

.dividend{
    border-top: 2px solid black;
    border-left: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-left: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.receiver{
    display: flex;
    justify-content: space-between;
    border-left: 2px solid black;;
}

.coeficient{
    border-left: 2px solid black;    
    padding-left: 5px;
}

.operation{
    margin-left: 5px;
    background-color: rgba(128,128,128,0.1);
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 10px 5px;
}

.process{
    
}

.tab-header{
    display:inline-block;
    border-radius: 50px;
    box-shadow: 10px 5px 10px rgba(52, 58, 64, 1);
    transition: background-color 2s;
    height: 49px;
    
}


.tab-link{
    background-color:transparent;
    border: none;
    height: 45px;
    padding: 0 20px;
    margin: 0 0;
    border-radius: 50px;
    outline: none;
    position:relative;
    top: 0px;
}

.tab-link.active{
    background-color: #FF6100;
    color: white;
    border: none;
    height: 45px;
    padding: 0 20px;
    margin: 0 0;
    border-radius: 50px;
    transition: background-color 1s;
    box-shadow: 0px 4px rgba(225, 63, 1, 1);
    transition: box-shadow 0s;
}

.tab-link:hover{
    top:1px;
    box-shadow: 0px 3px rgba(193, 193, 193, 1);
}

.tab-link:active{
    top:2px;
    box-shadow: 0px 2px rgba(193, 193, 193, 1);
}

.tab-link.active:hover{
    background-color: rgba(255, 97, 0, 0.8);
    top:1px;
    box-shadow: 0px 3px rgba(225, 63, 1, 1);
}

.tab-link.active:active{
    background-color: rgba(255, 97, 0, 0.8);
    top:2px;
    box-shadow: 0px 2px rgba(225, 63, 1, 1);
}

.tab-header:hover{
    background-color: rgba(193, 193, 193, 0.5);
}
