*,
*::before
,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Martel Sans', sans-serif;
    src: url('./public/fonts/MartelSans-Regular.ttf');
}
@font-face {
    font-family: MartelSansBlack;
    src: url('./public/fonts/MartelSans-Black.ttf');
}

body{
    font-family: 'Martel Sans';
}


.space{
    display: inline-block;
    width:40px;
    /* background: blue; */
}

.dividend{
    color: green;
}

.receiver{
    color: red;
}

.ui{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.information{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 18px;
}

.information p{
    
    margin: 20px 0;
}

.information h1{
    font-size: 75px;
    font-weight: 100;
}

.author{
    display: flex;
}

.author p {
    margin: 0 10px;
}

.configuration form{
    padding: 20px 30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.configuration form button{
    display: block;
    height: 45px;
    width: 100px;

}

.mx{
    margin: 20px 10px;
    width: 50%;
    
    
}

.mx input{
    height: 45px;
    font-size: 15px;
    font-family: 'Martel Sans';
}

.gx{
    margin: 20px 10px;
}

.mx input{
    width: 100%;
} 

.scrollable{
    overflow: hidden;
    border-radius:15px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.result{
    height: 600px;
    overflow-x: auto;
    white-space: nowrap;
    display:flex;
     
}

.divisor{
    padding: 2px 5px;
}

.dividend{
    border-top: 2px solid black;
    border-left: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-left: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.receiver{
    display: flex;
    justify-content: space-between;
    border-left: 2px solid black;;
}

.coeficient{
    border-left: 2px solid black;    
    padding-left: 5px;
}

.operation{
    margin-left: 5px;
    background-color: rgba(128,128,128,0.1);
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 10px 5px;
}

.process{
    
}